body {
    background-image: url('basketball.jpg'); /* Hintergrundbild */
    background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7); /* Hintergrundcontainer mit Transparenz */
    border-radius: 10px;
}

h1 {
    font-size: 24px;
    color: #333;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.button {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #555;
}

/* Hinzufügen von Unschärfe zum Hintergrundbild */
body::before {
    content: "";
    background: inherit;
    filter: blur(5px); /* Unschärfe hinzufügen */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: 50%; /* Hintergrundbild kleiner machen */
}
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 20px;
    }

    .button {
        width: 150px;
        font-size: 16px;
    }

    .button-container {
        margin-top: 10px;
    }
}